[submodule "release/absl"]
	path = release/absl
	url = https://github.com/abseil/abseil-cpp.git
[submodule "release/cryptopp"]
	path = release/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "release/snappy"]
	path = release/snappy
	url = https://github.com/google/snappy.git
[submodule "release/gperftools"]
	path = release/gperftools
	url = https://github.com/gperftools/gperftools.git
[submodule "release/protobuf"]
	path = release/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "release/FunctionTraits"]
	path = release/FunctionTraits
	url = https://github.com/HexadigmSystems/FunctionTraits.git